@font-face {
  font-family: 'Lobster';
  src: url('fonts/sportsworld.woff2');
}

@font-face {
  font-family: 'Alexander';
  src: local('Alexander'), url('fonts/alexander.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}